

{% extends 'extend/dashboad-base.html' %}
{% load static %}
{% block content %}

<div class="boad-body">
    <div class="item-con">
        <div class="item-info">
            <h3>all orders {{cart.count}}</h3>
        </div>
        {% if messages %}
        {% for message in messages %}
        {% if message.success %}
        <div class="success-m">
            <p>{{message}}</p>
        </div>
        {% else %}
        <div class="info-m">
            <p>{{message}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    {% if cart %}
    {% for cart in cart %}
    <div class="items">
        <div class="item">
            <div class="image">
                <a href="{{cart.item.image.url}}">
                    <img src="{{cart.item.image.url}}" alt="image">
                </a>
            </div>
            <div class="item-con">
                <div class="item-info">
                    <h3>name</h3>
                    <p>{{cart.item.name}}</p>
                </div>
                <div class="item-info">
                    <h3>outnumber</h3>
                    <p>{{cart.item.out_number}}</p>
                </div>
                <div class="item-info">
                    <h3>quantity</h3>
                    <p>{{cart.quantity}}</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-con">
                <div class="item-info">
                    <h3>price</h3>
                    <p>N{{cart.item.selling_price}}</p>
                </div>
                <div class="item-info">
                    <h3>total price</h3>
                    <p>N{{cart.total}}</p>
                </div>
                <div class="item-info">
                    <h3>date</h3>
                    <p>{{cart.date}}</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-con">
                <div class="item-info">
                    <h3>customer username</h3>
                    <p>{{cart.profile.username}}</p>
                </div>
                <div class="item-info">
                    <h3>customer phone</h3>
                    <p>{{cart.user.phone}}</p>
                </div>
                <div class="item-info">
                    <h3>status</h3>
                    {% if cart.paid %}
                    <p><i class="fa fa-check-circle text-info"></i> paid</p>
                    {% else %}
                    <p><i class="fa fa-times-circle text-danger"></i> not paid</p>
                    {% endif %}
                    {% if cart.suplid %}
                    <p><i class="fa fa-check-circle text-info"></i> suplied</p>
                    {% else %}
                    <p><i class="fa fa-times-circle text-danger"></i> not suplied</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="item-buttom">
            {% if cart.paid %}
            {% else %}
            <a href="{% url 'is_paid' cart.id %}">make paid</a>
            {% endif %}
            {% if cart.suplid %}
            {% else %}
            <a href="{% url 'is_suplied' cart.id %}">make suplied</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}

